/* styles.css */

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start; 
    height: 100vh; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    gap: 20px; /* space between cards */
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /* transition: 0.3s; */
    width: 90%;
    max-width: 360px; 
    margin: 2% auto; /* top and bottom margins are 2%, left and right margins are auto */
    border-radius: 2%;
    flex: 1 1 auto;
    padding: 2% 2%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.title {
    font-size: 7vw;
}

.description {
    font-size: 5vw;
}

img {
    width: 100%;
    height: auto;
}

/* @media screen and (min-aspect-ratio: 1/1) {
    .card {
        width: 45%; 
    }
} */